body {
  background-color: #5f96d9c4;
}

#clock-app {
  color: hwb(240 33% 29% / 0.841);
  text-align: center;
  margin-top: 5%;
}

#app-description {
  margin-top: 10%;
  font-family: 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2%;
  margin-bottom: 10%;
}

#current-time {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 50px;
}

#current-date {
  display: flex;
  justify-content: center;
  position: relative;
}
