body {
  background-color: #5f96d9c4;
}

#clock-app {
  color: hwb(203 2% 58% / 0.771);
  text-align: center;
  margin-top: 10%;
  font-size: 50px;
}

#app-description {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 1%;
  margin-bottom: 10%;
}

#current-time {
  color: #053c61d6;
  text-align: center;
  font-size: 100px;
}

#current-date {
  color: hwb(203 2% 58% / 0.771);
  text-align: center;
  margin-top: -4%;
  font-size: 50px;
}
